html, body, svg {
    margin: 0;
    font-family: Arial,sans-serif !important;
    background: #cfcfcf;
    color: #666666;
  }
h1, h2, p {
    padding: 10px;
}
.barplot {
    background:#232521;
    color: #bebebe;
    position: absolute;
    font-family: Arial,sans-serif !important;
}
.axis line {
    stroke: #666666;
}

.axis path {
    stroke: #666666;
}

.axis text {
    fill: #666666;
}
#barplot {
    border: 1px solid #cfcfcf;
    }    
.bar {
    fill: steelblue;
    }
.desc {
    width: 60%;
    text-align: justify;
}
#source {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}
.tooltip {
    font-family: Arial,sans-serif !important;
}
