.svg {
    display: block;
    margin: auto;
    background: #232521;
    color: #bebebe;
    font-family: "Helvetica";
}
    
.cnt {
    fill: #999;
    stroke: white;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}

.axis line {
    stroke: #c1d3b8;
}

.axis path {
    stroke: #c1d3b8;
}

.axis text {
    fill: #c1d3b8;
}